# Віртуальне середовище
.venv/
venv/
ENV/
env/

# КЕШ та тимчасові файли Python
__pycache__/
*.py[cod]
*$py.class

# Згенеровані JSON-файли та тимчасові файли парсингу
*.json
temp/

# Тестові та тимчасові скрипти
cheak.py

# Налаштування редакторів та системні файли
.vscode/
.idea/
.DS_Store
Thumbs.db